<div class="greetings-container">
  <p>
    Hello, {{ username }} <span *ngIf="!username">*username* , please, <a routerLink="/auth/login">Login</a> or <a routerLink="/auth/signup">Register.</a></span>
  </p>
</div>
