<div class="card-panel grey lighten-4">
  <div class="row">
    <div class="col s12 center-align">
      <h4>Sign Up</h4>
    </div>
  </div>
<div class="row">
  <form class="col s12"
        [formGroup]="signup"
        (ngSubmit)="onRegisterSubmit(signup); signup.reset()" novalidate>
    <div class="row">
      <div class="input-field col s12">
        <input id="first_name" type="text" class="validate" formControlName="first_name">
        <label for="first_name">First Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="last_name" type="text" class="validate" formControlName="last_name">
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" formControlName="email">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" formControlName="password">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="s12 center-align">
        <button class="btn waves-effect waves-light" type="submit"
            [disabled]="!signup.valid">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>
</div>
