<nav id="oi-logo" class="blue-grey lighten-2">
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo">
      <img src="./assets/logo-two.png" alt="">
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLinkActive="active" routerLink="/auth/login" *ngIf="!isLoggedIn()">Login</a></li>
      <li><a routerLinkActive="active" routerLink="/auth/signup" *ngIf="!isLoggedIn()">Sign Up</a></li>
      <li><a routerLink="/" (click)="onLogout()" *ngIf="isLoggedIn()">Logout</a></li>
    </ul>
  </div>
</nav>
