/* You can add global styles to this file, and also import other style files */
body, app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
app-nav {
  display: block;
}
main {
  flex: 1 0 auto;
}
app-footer {
  display: block;
}

h4 {
  color: #607d8b;
}
