<footer class="page-footer blue-grey lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="grey-text text-lighten-4">Do you heard about the bird?</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li><a class="grey-text text-lighten-3" routerLink="/">Dashboard</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/auth/login">Login</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/auth/signup">Sign Up</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">Dashboard</a>
    </div>
  </div>
</footer>
